/* Some Cool Fonts */
@font-face{
	src: url("../fonts/Aclonica.ttf") format("woff2");
	font-family: "Aclonica";
}
@font-face{
	src: url("../fonts/AdventPro-ExtraLight.ttf") format("woff2");
	font-family: "Advent";
}
@font-face{
	src: url("../fonts/Comfortaa-Light.ttf") format("woff2");
	font-family: "Comfortaa";
}

/* ------------------------------------------------  Body ------------------------------------------------ */
body{
	font-family: arial,helvetica;
    overflow-x: hidden;
    vertical-align: middle;
    color: aliceblue !important;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0
}
/* ------------------------------------------------  Section ------------------------------------------------ */
.section{
    text-align:center;
    text-align: -webkit-center;
    background-size: cover;
}

/* ------------------------------------------------  Nav Dots ------------------------------------------------ */
span {
    background: white!important;
}

 
/* ------------------------------------------------  Section 0 ------------------------------------------------ */
#section0{
    background-color: black;
}
.helloheading{
	font-family: "Advent";
	font-size: 40px;
    margin: 1%;
    color: aliceblue;
}
.nameheading{
	position:relative;
	font-family: "Aclonica";
	font-size: 80px;
	opacity: 0;
	bottom: -20%;
    transition: all 1s ease;
    color: aliceblue;
}


/* ------------------------------------------------  Section 1 ------------------------------------------------ */

#section1{
    background-image: url("../imgs/4.jpg");
    background-position: 50% 50%;
    color:wheat !important;
}
.col{
    width: 50%;
    
}
.skills-heading{
	font-family: "Aclonica";
	font-size: 80px;
	padding-bottom: 5%;
}
.skills-icons{
	opacity: 0;
	transition: all 1s ease;
	padding-left:8%;
	padding-right: 8%;
	bottom: -30%;
	position:relative;
}
.img-fluid{
width: 60%;
}
.webimage{
	margin-right: 50%;
}
.iotimage{
	margin-left: 30%;
}
#section1 .row{
	font-family: "Comfortaa";
	font-size: 15px;
}
.skills-para{
    padding-top: 0.3%;
}

/* ------------------------------------------------  Section 2 ------------------------------------------------ */
#section2{
    background-image: url("../imgs/1.jpg");
    background-position: 50% 50%;
}
#section2 img{
    height: 500px;
    vertical-align: middle;
}
.responsive-texts, .responsive-slide-img{
    transition: all 1s ease;
}

#section2 h1{
    font-family: "Aclonica";
    font-size: 80px;
}
#section2 p{
    padding: 3%;
    padding-top: 5%;
}
#section2 button{
    background: linear-gradient(to right, DodgerBlue 50%, rgb(0, 196, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
#section2 button:hover{
    background-position: left bottom;
}
/* ------------------------------------------------  Section Contact Us ------------------------------------------------ */
#contact-section{
    background-image: url("../imgs/2.jpg");
    background-position: 80% 80%;
    position: relative;
}
#contact-section h1{
    font-family: "Aclonica";
    font-size: 80px;
    position: absolute;
    left: 32%;
    top:10%;

}
.social-media{
    position: absolute;
    opacity: 0;
    bottom: 30px;
    right: 45%;
    transition: all 1s ease;
}
#contact-section .social-media a{
    font-size: 40px;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
#contact-section .contact-info{
    position:absolute;
    bottom:0;
    right:0;
}
#contact-section .contact-info a{
    font-size: 15px;
    color: aliceblue;
    text-align: right !important;
    padding-right: 25px;
}
#contact-section form{
    text-align: center !important;
    margin: 25%;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 0;
    transition: all 1s ease;
}
#contact-section form input, #contact-section form textarea{
    margin:10px;
    background: none;
    border:none;
    border-bottom: whitesmoke 1px solid;
    outline: none !important;
}
#contact-section form input:focus,#contact-section form textarea:focus,#contact-section form input:valid,#contact-section form textarea:valid{
    color: white !important;
    background: none;
    border:none;
    outline: none !important;
    outline-width: 0 !important;
    -webkit-appearance: none !important;
    border-bottom: whitesmoke 1px solid;
}
#contact-section form button{
    background: none;
    border: 1px whitesmoke solid;
}

input:invalid {
    border-bottom: 2px solid red !important;
}

/* ------------------------------------------------  Must be Responsive! Huh? ------------------------------------------------ */
@media only screen and (max-width: 600px) {
        .skills-para{
            font-size: 15px;
        }
        #section2 img{
            height: 200px;
            vertical-align: middle;
        }
        #section2 h1{
            font-size: 30px;
            padding-right: 15%;
        }
        #section2 p{
            font-size: 15px;
            padding-right: 15%;
        }
        #section2 button{
            margin:auto;
        }

        #contact-section i{
            font-size: 40px;
        }
        #contact-section{
            background-image: url("../imgs/2.jpg");
            background-position: 65%;
        }

  }

  /* Loading GIF */

  #loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url("../gif/12.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
  *{
    cursor: url('../cursor.cur'), default;
    }